<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kullanıcı.Properties.Settings.kullanıcıConnectionString"
            connectionString="Data Source=YZ-11\SQLSERVER2017;Initial Catalog=kullanıcı;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>